.recordsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* border: 1px solid red; */
  width: 70%;
  height: 28rem;
  position: relative;
  top: 3rem;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  border-radius: 0.3rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 2px 0px 10px rgb(137, 137, 137);
}
.form {
  height: 80%;
  width: 80%;
}
.heading {
  text-align: left;
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
  left: 5rem;
}

.Container {
  /* border: 1px solid green; */
  height: 3rem;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: 1.5rem;
  left: 23rem;
}
.Container > .button {
  width: 8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 100%;
  font-weight: 500;
  text-align: left;
}
